@{
    ViewBag.Title = "Sobre";
}

<h4> Aplicação criada utilizando Asp.Net , DDD , EntityFramework , Linguagem C# , AutoMapper , Bootstrapp e Ninject</h4>
<br />
<br />
<br />


<div>
    <img src="https://www.dialhost.com.br/ajuda/wp-content/uploads/2018/07/aspnet-featured.png" width="150" height="150" class="img-responsive pull-left" />
</div>

<div>
    <img src="https://ilovecode.com.br/wp-content/uploads/2016/04/entity-framework.png" width="150" height="150" class="img-responsive pull-left" />
</div>

<div>
    <img src="https://miro.medium.com/max/1838/1*6cIPVJ116icCoruZUAYHmA.png" width="150" height="150" class="img-responsive pull-left" />
</div>

<div>
    <img src="https://miro.medium.com/max/700/1*VstWEsGPYwhDG2-KOBVrNQ.png" width="150" height="150" class="img-responsive pull-left" />
</div>

<div>
    <img src="https://getbootstrap.com.br/docs/4.1/assets/img/bootstrap-stack.png" width="150" height="150" class="img-responsive pull-left" />
</div>
<br />
<br />
<br />




