@{
    ViewBag.Title = "Página Inicial";
}

<h1>Cadastro de Clientes : <img src="https://de1f1l5l72ecp.cloudfront.net/awin/image/upload/q_80/v1487252000/awin-website/market-insight-posts/image/rdjjhke6sxawjd6ia189.jpg" class="img-responsive"></h1>